<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-deezer'></i>
      <span class="logo_name"> Billing ERP</span>
    </div>
      <ul class="nav-links">
        <li>
          <a  routerLink="/dashboard" >
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
            <a class="nav-link" routerLink="/employee">
                <i class='bx bx-user-circle'></i>
            <span class="links_name">Employee</span>
          </a>
        </li>
        <li>
            <a class="nav-link" routerLink="/attendance">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Attendance</span>
          </a>
        </li>
        <li>
            <a class="nav-link" routerLink="/advance">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Advance</span>
          </a>
        </li>
        <li>
            <a class="nav-link" routerLink="/leaves">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Leaves</span>
          </a>
        </li>
        <li>
            <a class="nav-link" routerLink="/salary">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Salary</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-menu-alt-left'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>

  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Employee Portal</span>
      </div>
    </nav>

<div class="row home-content">
    <div class="col-8 box">
        <div class="card-header bg-primary">
            <div class="row">
                <div class="col-6 text-white p-3 ">
                    Employee Details
                </div>
                <div class="col-6 text-right">
                   
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>Contact No</th>
                        <th>Email</th>
                        <th>Alt Contact</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead> 
                <tbody>
                    <tr *ngFor="let item of employeeArray; let sr =index">
                        <td>{{sr+1}}</td>
                        <td>{{item.empName}}</td>
                        <td>{{item.empContactNo}}</td>
                        <td>{{item.empEmail}}</td>
                        <td>{{item.empAltContactNo}}</td>
                        <td>{{item.city}}</td>
                        <td>
                            <button class="btn btn-success editbtn" (click)="onEdit(item.empId)">Edit</button><br>
                            <button class="btn btn-danger editbtn" (click)="onDelete(item.empId)">Delete</button>
                        </td>
                    </tr>
                </tbody>           
            </table>
        </div>
    </div>

    <div class="col-4 box">
        <div class="card-header bg-primary">
            <div class="row">
                <div class="col-6 text-white p-3 ">
                    New Employee
                </div>
                <div class="col-6 text-right">
                   
                </div>
            </div>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-6">
                        <label for="">Name</label>
                        <input type="text" class="form-control form-control-lg" name="empName" [(ngModel)]="employeeObj.empName">
                    </div>
                    <div class="col-6">
                        <label for="">Contact No</label>
                        <input type="text" class="form-control form-control-lg" name="empContactNo" [(ngModel)]="employeeObj.empContactNo">
                    </div>
                    <div class="col-6">
                        <label for="">Alt Contact No</label>
                        <input type="text" class="form-control form-control-lg" name="empAltContactNo" [(ngModel)]="employeeObj.empAltContactNo">
                    </div>
                    <div class="col-6">
                        <label for="">Email</label>
                        <input type="text" class="form-control form-control-lg" name="empEmail" [(ngModel)]="employeeObj.empEmail">
                    </div>
                    <div class="col-6">
                        <label for="">Address Line 1</label>
                        <textarea name="addressLine1" class="form-control form-control-lg" cols="2" [(ngModel)]="employeeObj.addressLine1" ></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">Address Line 2</label>
                        <textarea name="addressLine2" class="form-control form-control-lg" cols="2" [(ngModel)]="employeeObj.addressLine2" ></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">Pincode</label>
                        <input type="text" class="form-control form-control-lg" name="pincode" [(ngModel)]="employeeObj.pincode">
                    </div>
                    <div class="col-6">
                        <label for="">City</label>
                        <input type="text" class="form-control form-control-lg" name="city" [(ngModel)]="employeeObj.city">
                    </div>
                    <div class="col-6">
                        <label for="">State</label>
                        <input type="text" class="form-control form-control-lg" name="state" [(ngModel)]="employeeObj.state">
                    </div>
                    <div class="col-6">
                        <label for="">Bank Name</label>
                        <input type="text" class="form-control form-control-lg" name="bankName" [(ngModel)]="employeeObj.bankName">
                    </div>
                    <div class="col-6">
                        <label for="">IFSC</label>
                        <input type="text" class="form-control form-control-lg" name="iFSC" [(ngModel)]="employeeObj.iFSC">
                    </div>
                    <div class="col-6">
                        <label for="">Account No</label>
                        <input type="text" class="form-control form-control-lg" name="accountNo" [(ngModel)]="employeeObj.accountNo">
                    </div>
                    <div class="col-6">
                        <label for="">Bank Branch</label>
                        <input type="text" class="form-control form-control-lg" name="bankBranch" [(ngModel)]="employeeObj.bankBranch">
                    </div>
                    <div class="col-6">
                        <label for="">Salary</label>
                        <input type="text" class="form-control form-control-lg" name="salary" [(ngModel)]="employeeObj.salary">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary btn-sm savebtn">Reset</button>
                    </div>

                    <div class="col-6 text-center">
                        <button class="btn btn-success btn-sm savebtn" *ngIf="employeeObj.empId == 0" (click)="onSave()">Save Employee</button>
                        <button class="btn btn-warning btn-sm savebtn" *ngIf="employeeObj.empId !== 0" (click)="onUpdate()">Update Employee</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
  </section>
